github "Alamofire/Alamofire" == 1.2.3
github "Hearst-DD/ObjectMapper" == 0.12
github "tristanhimmelman/AlamofireObjectMapper" == 0.5
github "nixzhu/Proposer" == 0.6.2
github "ReactiveCocoa/ReactiveCocoa" "v3.0-RC.1"
